<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <label>Forsikrede
        <input [(ngModel)]="forsikrede" type="text"/>       
        </label><br>
        <label>Cpr-nummer
        <input [(ngModel)]="cprNr" type="text"/>       
        </label><br>
        <label>Forsikringsnummer
        <input [(ngModel)]="forsikringsnummer" type="text"/>       
        </label><br>
        <label>Forsikrings dato
        <input [(ngModel)]="forsikringsDato" type="text"/>       
        </label><br>
        <label>Sygemeldt fra
        <input [(ngModel)]="sygemeldtFra" type="text"/>       
        </label><br>
        <label>Flexjob start år
        <input [(ngModel)]="flexjobStart" type="text"/>       
        </label><br>
        <label>Samleverstatus
      <select>
        <option *ngFor="#key of samleverEnum" [value]="key" [label]="samleverEnum[key]"></option>
      </select>
<!--        <input [(ngModel)]="daekningInddata.samleverStatus" type="text"/-->       
        </label><br>
    Forsikrede: {{forsikrede}} <br>
    Forsikrede: {{cprNr}} <br>
    Forsikrede: {{forsikringsnummer}} <br>
    Forsikrede: {{forsikringsDato}} <br>
    Forsikrede: {{sygemeldtFra}} <br>
    Forsikrede: {{flexjobStart}} <br>
    Forsikrede: {{daekningInddata.samleverStatus}} <br>
    </div>
</div>