<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        {{diagnostic}}
        <div class="form-group">
            <label>Forsikrede</label>
            <input [(ngModel)]="forsikrede" type="text" class="form-control"/>
        </div>

        <div class="form-group">
            <label>Cpr-nummer        </label>
            <input [(ngModel)]="cprNr" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Forsikringsnummer        </label><br>
            <input [(ngModel)]="forsikringsnummer" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Forsikrings dato        </label><br>
            <input [(ngModel)]="forsikringsDato" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Sygemeldt fra        </label><br>
            <input [(ngModel)]="sygemeldtFra" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label for="2014">Flexjob start år        </label><br>
            <input [(ngModel)]="flexjobStart" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label for="samleverStatus">Samleverstatus</label>
            <select class="form-control" required [(ngModel)]="daekningInddata.samleverStatus">
                    <option *ngFor="let item of samleverEnum | keys" [value]="item.key" >{{item.value}}</option>
                </select>
        </div>
        <div class="form-group">
            <label for="udbetalingsTypeEnum">Udbetalingstype</label>
            <select class="form-control" required [(ngModel)]="daekningInddata.udbetalingsType">
                    <option *ngFor="let item of udbetalingsTypeEnum | keys" [value]="item.key" >{{item.value}}</option>
                </select>
        </div>
    </div>
</div>